*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.card {
    float:right;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 204px;
    height: 85vh;
    background:#EAFCCD;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right:0rem;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    margin-bottom:2rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  width:70%;
  border-radius: 5px 5px 0 0;
}

.card_Body{
    text-align: center;
    margin: 1rem;
}

.title{
  padding-top:4rem;
   font-style: oblique;
   font-family: "Sofia", sans-serif;
   letter-spacing:5px;
}

.date {
    margin-right: 10px;
    padding-top: 18px;
    line-height: normal;
    font-weight: 700;
    font-size: 15px;
}

.temperature_Min,.temperature_Max{
   margin-right: 10px;
   padding-top: 10px;
    line-height: normal;
    font-weight: 900;
    font-size: 20px;
}
.humidity{
   margin-right: 10px;
   padding-top: 15px;
    line-height: normal;
    font-weight: 700;
    font-size: 20px;
}
.latlon{
  margin-right: 10px;
   padding-top: 15px;
    line-height: normal;
    font-weight: 600;
    font-size: 10px;
}

.Header{
  background: whitesmoke;
  color: #2977c9;
  text-align: center;
  padding-top:2rem;
  line-height: normal;
  font-weight: 600;
  font-size: 25px;
  padding-bottom:20px;
}

.form{
  width:100%;
  height:auto;
  text-align:center;
}
form > input{
    width: 30%;
    text-align: center;
    padding: 18px 33px;
    margin: 27px 35%;
    box-sizing: border-box;
    border: none;
    border: 2px solid black;
    border-radius: 22px;
    color: black;
    outline: none;
    letter-spacing: 3px;
    line-height: normal;
}
.submitBtn{
   color: black;
   background:#C4C9CA;
    width: 14%;
    height: 7vh;
    margin: 0px 43%;
    padding: 4px 8px;
    letter-spacing: 2px;
    border: 1.5px solid grey;
    outline: none;
    border-radius: 11px;
}

@media (max-height: 500px) {
 .card {
    width: 52vw;
    height: 100vh;
    margin-right:7rem;
}
  

  .card-body {
    padding-top:4rem;
    font-size: 2rem;
  }


img {
  margin-top: 1rem;
  width:20%;
  border-radius: 5px 5px 0 0;
}


.Header{
  text-align: center;
  padding-top:2rem;
  line-height: normal;
  font-weight: 600;
  font-size: 20px;
  padding-bottom:20px;
}
  
form > input {
    width: 54%;
    height: 3rem;
    text-align: center;
    padding: 18px 16px;
    margin: 27px 23%;
    letter-spacing: 1px;
    line-height: normal;
}

.submitBtn {
    height: 10vh;
    margin: 0px 32%;
    padding: 5px 8px;
    letter-spacing: 2px;
    border: 1.5px solid grey;
    outline: none;
    border-radius: 11px;
    width: 10rem;
    font-size: 14px;
}

}
body > span {
  width: 100vw;
  text-align: center;
  color: grey;
}
